# @package _global_
pipeline:
  disable_progress_bar: false
  tiling:
    # The exact output dimensions we want per write operation (Zone of Responsibility)
    zone_of_responsibility_size: "auto" 
    
    # The context margin. Input size = ZoR + (2 * Halo)
    # Must be >= model effective receptive field / 2. 
    # For ResNet50-UNet, ~128 is safe.
    halo_size_pixels: 128
    
    # Patching strategy for inference
    patch_size: 120
    patch_stride: 120
    

  distributed:
    # Resource allocation per task
    gpu_index: 0 # Index of the GPU to use (default: 0)
    gpu_batch_size: "auto"
    prefetch_queue_size: 1 # Number of preprocessed chunks to keep in memory for the GPU
    writer_queue_size: 1 # Size of the queue between Inference and Writer processes

    
  output:
    save_confidence: true
    save_entropy: true
    save_gap: true
    save_gradient_preview: false # Save probability of target class (for binary models)
    save_preview: true
    preview_downscale_factor: 10
